<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<h1>Customers Page</h1>

<div class="dropdown">
    <button class="menu-btn">Menu</button>
    <div class="dropdown-content">
        <ul>
            <li th:if="${wMain}"><a href="/wMain">wMain</a></li>
            <li th:if="${customers}"><a href="/customers">Customers</a></li>
            <li th:if="${customer != null}">
                <a th:href="@{/customer}" th:text="'Customer ' + ${customer}">Customer</a>
            </li>
            <li th:if="${orders}"><a href="/orders">Orders</a></li>
            <li th:if="${items}"><a href="/items">Items</a></li>
            <li th:if="${stock}"><a href="/stocks">Stock</a></li>
            <li th:if="${stockId}">
                <a href="/stock"  th:text="'Stock ' + ${stockId} + ${stockManu}">Stock</a>
            </li>
            <li th:if="${basket}"><a href="/basket">Basket</a></li>
            <li th:if="${orderId != null}">
                <a th:href="@{/order}" th:text="'Order ' + ${orderId}">Order</a>
            </li>
            <li th:if="${itemId != null}">
                <a href="/itemId" th:text="'Item ' + ${itemId}">Item ID</a>
            </li>
        </ul>
    </div>
</div>
<h2>Basket Items</h2>
<table>
    <thead>
    <tr>
        <th>Text</th>
        <th>Total Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${basket}">
        <td th:text="${item.description}"></td>
        <td th:text="${item.totalPrice}"></td>
    </tr>
    </tbody>
</table>

<h3>Total</h3>
<p th:text="${total}"></p>
</body>
</html>
