<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/items.css">
</head>
<body>

<div class="dropdown">
    <button class="menu-btn">Menu</button>
    <div class="dropdown-content">
        <ul>
            <li th:if="${wMain}"><a href="/wMain">wMain</a></li>
            <li th:if="${customers}"><a href="/customers">Customers</a></li>
            <li th:if="${customer != null}">
                <a th:href="@{/customer}" th:text="'Customer ' + ${customer}">Customer</a>
            </li>
            <li th:if="${orders}"><a href="/orders">Orders</a></li>
            <li th:if="${items}"><a href="/items">Items</a></li>
            <li th:if="${stock}"><a href="/stocks">Stock</a></li>
            <li th:if="${stockId}">
                <a href="/stock"  th:text="'Stock ' + ${stockId} + ${stockManu}">Stock</a>
            </li>
            <li th:if="${basket}"><a href="/basket">Basket</a></li>
            <li th:if="${orderId != null}">
                <a th:href="@{/order}" th:text="'Order ' + ${orderId}">Order</a>
            </li>
            <li th:if="${itemId != null}">
                <a href="/itemId" th:text="'Item ' + ${itemId}">Item ID</a>
            </li>
        </ul>
    </div>
</div>
<div id="table3">
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Detail</th>
        </tr>
        <tr>
            <td><img src="/images/1.png" alt="Image"></td>
            <td>Text</td>
            <td>Detail Text</td>
        </tr>
    </table>
</div>


</body>
</html>