<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stock List</title>
    <link rel="stylesheet" href="/css/menu.css" >
</head>
<body>
<h1>Stock List</h1>

<div class="dropdown">
    <button class="menu-btn">Menu</button>
    <div class="dropdown-content">
        <ul>
            <li th:if="${wMain}"><a href="/wMain">wMain</a></li>
            <li th:if="${customers}"><a href="/customers">Customers</a></li>
            <li th:if="${customer != null}">
                <a th:href="@{/customer}" th:text="'Customer ' + ${customer}">Customer</a>
            </li>
            <li th:if="${orders}"><a href="/orders">Orders</a></li>
            <li th:if="${items}"><a href="/items">Items</a></li>
            <li th:if="${stock}"><a href="/stock">Stock</a></li>
            <li th:if="${basket}"><a href="/basket">Basket</a></li>
            <li th:if="${orderId != null}"><a href="/orderId">Order ID</a></li>
            <li th:if="${itemId != null}"><a href="/itemId">Item ID</a></li>
        </ul>
    </div>
</div>

<table border="1">
    <thead>
    <tr>
        <th>Stock Number</th>
        <th>Manufacturer Code</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Unit</th>
        <th>Unit Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stockList : ${stockList}">
        <td th:text="${stockList.stockNum}"></td>
        <td th:text="${stockList.manuCode}"></td>
        <td th:text="${stockList.description}"></td>
        <td th:text="${stockList.unitPrice}"></td>
        <td th:text="${stockList.unit}"></td>
        <td th:text="${stockList.unitDescr}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
