<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" href="/css/wMain.css" >
</head>
<body>
<h1>Welcome to the Main Menu</h1>
<div class="container">
    <a href="/customers" class="button">
        <img src="/image/customers.svg" alt="Customers" width="40" height="40"/>
        Customers
    </a>
    <a href="/orders" class="button">
        <img src="/image/orders.svg" alt="Orders" width="40" height="40"/>
        Orders
    </a>
    <a href="/stocks" class="button">
        <img src="/image/stock.svg" alt="Stock" width="40" height="40"/>
        Stock
    </a>
    <a href="/basket" class="button">
        <img src="/image/basket.svg" alt="Basket" width="40" height="40"/>
        Basket
    </a>
</div>
</body>
</html>
